@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;

}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}




/* NAV BAR  */

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
justify-content: center;
font-size: 24px;
font-weight: 900;
transition: color 300ms ease;
}

.nav__logo:hover {
    text-decoration: none;
    color: rgb(100 21 255);

}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

li {
    list-style-type: none;
}

a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar ul{
    padding: 15px;
    list-style: none;

}

.navbar li{
    display: inline;

}

.list {
    color: #555;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    padding: 15px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: #242424;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
    text-underline-offset: 8px;
    

}

.nav__link:hover {
    color: rgb(100 21 255);
    border-color: rgb(100, 21, 255);

}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white !important;
    padding: 12px 32px;
    border-radius: 50px;
    margin-left: 0;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
}

.purple {
    color: rgb(100 21 255);
}

.header__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.header__right {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__title {
    font-size: 48px;
}



.header__para {
    margin: 32px 0;
    font-size: 18px;
    color: #243E63;
    word-spacing: 0.05em;
}

.header__input--container {
    position: relative;
    max-width: 28rem;
}

.header__input--button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 9999px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 156px;
    margin: 8px 4px 8px 0;
    line-height: 1;
}

.header__input {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 100%;
    border: 2px solid gray;
}

.customers__container {
    margin-top: 80px;
}

.customers__title {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.customers__img {
    width: 100%;
    padding-right: 64px;
    margin-top: 16px;
    opacity: 0.5;
}

